[Unit]
Description=Lcd Service
After=network.target nss-lookup.target

[Service]
Type=simple
#PrivateTmp=true
WorkingDirectory=/opt/roonlcd
ExecStartPre=sleep 30
ExecStart=python3 carousel.py --display ssd1322 --interface spi  --gpio-reset 24 --gpio-data-command 27 --width 256 --height 64
Restart=always

[Install]
WantedBy=multi-user.target
